
*{
    box-sizing: border-box;
}

:root{
    --grid-cols:1;
    --grid-rows:1;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    height: 800px;
    width: 800px;
    display: grid;    
    grid-template-rows: repeat(var(--grid-rows),1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);  
    background: white;
    border: 1px solid black;
}

#container > div{
    background-color: blue;
    border: 1px solid black;
}
